.features-title{
    color: #2E2F42;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: medium; 
}
 
.features-list-title{
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 8px;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.features-list-text{
    color:#434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal; 
}
.features-list{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.features{
    padding: 96px 0;
    margin: 0 auto;
}
.features-card{
    width: 100%;
}
.symbol{
    display: none;
    background-color: #F4F4FD;
    width: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .features-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-card {
        width: calc((100% - 24px) / 2);
    }
    .features-list-title{
        text-align: left;
    }
}

@media (min-width: 1158px) {
    .features{
        padding: 120px 0;
    }
    .features-list-text {
        font-weight: 400;
    }
    .features-list {
        gap: 72px 24px;

    }

    .features-card {
        width: calc((100% - 72px) / 4);
    }
    .features-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .symbol {
        display: flex;
        margin-bottom: 8px;
    }
}